<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSocket广播</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/toastr.min.css">
</head>

<body>
    <div class="row" style="width:100%">
        <div class="col-md-12 form-horizontal" style="padding:20px">
            <div class="form-group">
                <label for="server-url" class="col-sm-2 control-label">server</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="127.0.0.1:<%= config.controlPagePort %>" id="server-url" placeholder="Controller Url">
                </div>
            </div>
            <div class="form-group">
                <label for="input-body" class="col-sm-2 control-label">body</label>
                <div class="col-sm-10">
                    <textarea onkeyup="if(event.ctrlKey && event.keyCode===13){sendWebSocket()}" type="password" class="form-control" id="input-body" placeholder="ws send body" style="height:60vh">{"Type":"ServerStatus","Status":2,"Server":"192.168.3.48","Params":{"Active":2,"Database":2,"Net":2}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <button onclick='formatJSON()' class="btn btn-default" style="width:100%">JSON Format</button>
                </div>
                <div class=" col-sm-3">
                    <button onclick='minJSON()' class="btn btn-default" style="width:100%">JSON Min</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button onclick='sendWebSocket()' class="btn btn-primary btn-lg" style="width:100%">Send ( ctrl+enter )</button>
                </div>
            </div>
        </div>

    </div>
    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/toastr.min.js"></script>
    <script>
        function sendWebSocket() {
            let url = $('#server-url').val();
            let body = $('#input-body').val();
            $.ajax({
                url: 'http://' + url + '/ws', method: 'POST', data: { body: body }, dataType: 'json', success: function (res) {
                    if (res.code === 0) {
                        toastr.success('clientCount : ' + res.count + '<br>' + res.data, 'Sent WebSocket')
                    } else {
                        toastr.error(body, 'Sent WebSocket')
                    }
                }, error: function (e) {
                    toastr.error(body, 'Sent WebSocket')
                }
            })
        }
        function formatJSON() {
            let body = $('#input-body');
            body.val(JSON.stringify(JSON.parse(body.val()), null, 4));
        }
        function minJSON() {
            let body = $('#input-body');
            body.val(JSON.stringify(JSON.parse(body.val())));
        }

        function keyup(){
            if(event.ctrlKey && event.keyCode===13){sendWebSocket()}            
        }
    </script>
</body>

</html>